.post-upload-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  .post-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title-input {
      width: 500px;
      height: 30px;
      font-size: medium;
      border-width: 0 0 1px;
      padding: 10px;
      margin-bottom: 20px;
      /* border: none; */
    }
    .content-input {
      width: 500px;
      height: 300px;
      font-size: medium;
      padding: 10px;
    }

    .file {
      width: 500px;
      border: 1px solid #dedede;
      padding: 30px;
      margin-top: 30px;
    }

    .upload-btn {
      margin-top: 30px;
      border: none;
      padding: 15px 30px;
      background-color: rgba(254, 80, 0, 0.6);
      color: white;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: rgba(254, 80, 0, 0.8);
      }
    }
  }
}
